opencv-python
onnxruntime-directml
pyautogui
loguru
numpy
adbutils
uiautomator2
fastapi
uvicorn[standard]
starlette
pywin32
scikit-learn
scikit-image
rapidfuzz
rapidocr==3.2.0
peewee
openai
pyyaml
pywebview