opencv-python
imageio
onnxruntime-directml; platform_system == "Windows"
onnxruntime
pyautogui
loguru
numpy
adbutils
uiautomator2
av
fastapi
uvicorn[standard]
starlette
pywin32; platform_system == "Windows"
rapidfuzz
rapidocr==3.2.0
peewee
openai
pyyaml
pywebview
requests
