/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.running {
  animation: spinPause 3s linear infinite running;
}

@keyframes spinPause {
  0% {
    transform: rotate(0deg);
  }
  33.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}